@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

$light-yellow: #fffceb;
$medium-yellow: #f7e34d;
$dark-yellow: #ffee00;
$light-blue: #DADEF0;
$dark-blue: #657ABB;
$font: 'Quicksand', sans-serif;

body {
  background-color: $light-yellow;
  font-family: $font;
}

.home-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.home-logo{
  width: 70vw;
}

.home-image{
  display: flex;
  width: 70vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.home-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title{
  display: flex;
  justify-content: center;
  font-family: $font;
  margin-bottom: 1rem;
  margin-top: 0;
}

.home-dates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

#outlined.required{
  width: 100vw;
  border-radius: 2rem;
}

.home-start-date, .home-end-date{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%
}

.home-activities-loading {
  width: 50vw;
  height: auto;
  margin-top: 7rem;
  margin-bottom: 2rem;
}


// ----------- MUI components ----------- 


.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o1fi3q-MuiInputBase-root-MuiOutlinedInput-root {
  padding-right: 1rem;
}

//city- the whole field
// .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
//   width: 100%;
//   border-radius: 2rem;
// }

//city text field 
.MuiOutlinedInput-input.MuiInputBase-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  border-radius: 2rem;
  width: 80vw;

}

//heading on calendar
.css-1dozdou {
  background-color: $light-blue;
}

//search button
.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.home-search-button.css-1d2a50z-MuiButtonBase-root-MuiButton-root {
  width: 80vw;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

//text fields for dates and city
.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-radius: 2rem;
}

//activity card - activity title
.MuiTypography-root.MuiTypography-h5.MuiCardHeader-title.css-3cx99q-MuiTypography-root{
  font-size: 1rem;
  font-weight: 600;
}

//nav toolbar
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.toolbar css-1t29gy6-MuiToolbar-root{
  position: static
}

