$light-yellow: #fffceb;
$medium-yellow: #f7e34d;
$dark-yellow: #ffee00;
$light-blue: #DADEF0;
$dark-blue: #657ABB;

.logo{
  width: 30vw;
  height: auto;
}

.toolbar {
  background-color: $dark-blue;
}